--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers==4.48.3
safetensors==0.5.2
sentencepiece==0.2.0
streamlit==1.50.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2
matplotlib==3.9.2
langdetect==1.0.9
shap
