--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers==4.38.2
safetensors==0.5.2
sentencepiece==0.2.0
accelerate
streamlit==1.50.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.8.0
joblib==1.4.2
matplotlib==3.9.2
plotly==5.24.1
langdetect==1.0.9
deep-translator==1.11.4
